.app{
    display: flex;
    flex-direction: column;
    width: 100%;

    app-header{
        width: 100%;
    }

    .content{
        display: flex;
        overflow: hidden;
        height: 100vh;

        .wrapper{
            transition: all 0.2s ease-in;
            width: 100%;
            overflow: scroll;
            margin-top: 5rem;
            padding: 3rem
        }
    }
}