.app{
    display: flex;
    flex-direction: column;
    width: 100%;

    app-header{
        width: 100%;
    }

    .content{
        display: flex;
        overflow: hidden;
        height: 100vh;

        .wrapper{
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease-in;
            width: 100%;
            overflow: scroll;
            padding: 8.5rem 3rem 1.5rem 3rem;
            height: 100vh;

            .pseudo-footer{
                padding-top: 1.5rem;
                border-top: 1px solid black;
                margin-top: 4rem;

                p{
                    font-size: 14px;
                }
            }
        }
    }
}