<ng-container *ngIf="(isUserLogged$ | async ) === true; else notLogged">
  <div class="app">
    <app-header></app-header>
    <div class="content">
      <app-side-bar-navigation 
        [screenWidth]="screenWidth"
        >
      </app-side-bar-navigation>
      
      <div class="wrapper" [ngClass]="styleClass">
        <router-outlet></router-outlet>
        <div class="pseudo-footer">
          <p>© Le Sahré Ivoire, tous droits réservés </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notLogged>
  <router-outlet></router-outlet>
</ng-template>