<div class="announcements-list">
    <p-table [value]="announces" styleClass="table-header">
        <!-- Header -->
        <ng-template pTemplate="header">
          <tr>
            <th class="announce-text">Texte</th>
            <th class="active-state">Activée</th>
            <th class="actions">Actions</th>
          </tr>
        </ng-template>
      
        <!-- Body -->
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [formGroup]="announceForm" [ngClass]="indexOfRowToEdit === rowIndex ? 'edited-row' : ''">
            <td>
              <ng-container *ngIf="indexOfRowToEdit !== rowIndex; else inputText">
                {{ rowData.text }}
              </ng-container>
              <ng-template #inputText>
                <input pInputText formControlName="text"/>
              </ng-template>
            </td>
            <td class="active-state">
                <ng-container *ngIf="indexOfRowToEdit !== rowIndex; else inputSwitch">
                    <div class="round" [ngStyle]="{ 'background-color' : rowData.isActive === true ? 'var(--project-green-primary-color)':''  }"></div>
                </ng-container>
                <ng-template #inputSwitch>
                    <p-inputSwitch formControlName="isActive" styleClass="announcement-switch" ></p-inputSwitch>
                </ng-template>
            </td>
            <td class="actions">

              <ng-container *ngIf="indexOfRowToEdit !== rowIndex">
                <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
                <p-overlayPanel styleClass="panel-edit-delete" #op>
                    <ng-template pTemplate>
                        <div class="action-edit-delete">
                            <i (click)="editRow(rowData.id, rowIndex)" class="pi pi-pencil"></i>
                            <i (click)="deleteRow(rowData.id, rowIndex)"class="pi pi-trash"></i>
                        </div>
                    </ng-template>
                </p-overlayPanel>
              </ng-container>

              <ng-container *ngIf="indexOfRowToEdit === rowIndex">
                <div class="save-cancel">
                    <button (click)="cancelEdit()">Annuler</button>
                    <button (click)="saveChanges(rowData, rowIndex)">Enregistrer</button>
                </div>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
      
</div>
