.sidebar{
    display: flex ;
    flex-direction: column ;
    width: 100% ;
    height: 100vh ;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%) ;
    background-color: rgb(14, 14, 14) ;
    color: white ;
    position: relative ;
    justify-content: space-between ;
    transition: all 0.2s ease-in ;
    padding-top: 7.5rem;
    padding-bottom: 0.5rem;

    .nav-container{
        overflow: scroll;

        .nav-item{
            border-bottom: 1px solid #e4e1e126;
            display: flex;
            flex-direction: column;
            width: 100%;

            &:last-child{
                border: none;
            }

            .active-navigation{
                color: var(--project-secondary-color);
            }

            .item{
                padding-bottom: 1rem;
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                
                .left{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;

                    fa-icon{
                        font-size: 18px;
                        width: 34px;
                    }

                    span{
                        font-size: 15px;
                    }
                }
            }

            .nav-item-dropdownable{
                list-style: none;
                height: 0px;
                overflow: hidden;

                li{
                    margin-bottom: 5px;
                    padding-left: 34px;

                    a{
                        display: inline-block;
                        font-weight: 100;
                        margin-bottom: 5px;
                        color: #a3a3a3;
                        white-space: nowrap;
                        cursor: pointer;
                        font-size: 14px;
                        width: 100%;

                        &:hover {
                            color: var(--project-secondary-color);
                        }
                    }
                }
            }

            .showDropdownMenuItems{
                height: 100%;
                padding-bottom: 1.2em;
                transition: all 0.08s ease;
            }
    
            .hideDropdownMenuItems{
                height: 0px;
                transition: all 0.04s ease;
            }
        }
    }
}

.sidebar-collapsed{
    width: 0;
    transform: translateX(-100%);
    padding-left: 0;
    padding-right: 0;
}

.sidebar-not-collapsed{
    width: 20rem;
    transform: translateX(0);
    padding-left: 2rem;
    padding-right: 2rem;
}