.sidebar{
    display: flex ;
    flex-direction: column ;
    width: 100% ;
    height: 100vh ;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%) ;
    background-color: #0f1011 ;
    color: white ;
    position: relative ;
    justify-content: space-between ;
    transition: all 0.2s ease-in ;
    padding-top: 9rem;
    padding-bottom: 0.5rem;

    nav{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 100%;
        align-items: center;

        .item{
            padding: 0.6rem 1rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;
            transition: all 0.3s ease-in-out;
            color: #a6a6a6;
            text-decoration: none;
            border: 1px solid transparent;
            width: 240px;

            &:last-child{
                margin-bottom: 0;
            }

            &:hover{
                border: 1px solid #8c8c8c;
            }
            
            fa-icon{
                font-size: 18px;
                width: 38px;
            }

            span{
                font-size: 15px;
            }
        }

        .active-navigation{
            font-weight: bold;
            color: white;
            background-color: rgba(255, 255, 255, 0.083);
            box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
        }
    }
}

.sidebar-collapsed{
    width: 0;
    transform: translateX(-100%);
    padding-left: 0;
    padding-right: 0;
}

.sidebar-not-collapsed{
    width: 18rem;
    transform: translateX(0);
    align-items: center;
}