:root{
    --project-primary-color: #814B2A;
    --project-secondary-color: #c5bc52;
    --project-green-primary-color: #59a55e;
    --project-green-secondary-color : green;
    --project-red-primary-color : red;
    --project-red-secondary-color : #e15050;
    --project-black-primary-color : Black;
    --project-black-secondary-color : #343434;

}